:root {
  --circAnimDur: 0s;
  --circumference: 0px;
  --mute-black: #272727;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "PT Sans", sans-serif;
  background: #4a548c;
}

.hidden {
  display: none !important;
}

.white {
  color: white;
}

.f-1 {
  font-size: 2.25em;
}

.f-4 {
  letter-spacing: 2px;
}

.bold {
  font-weight: bold;
}

#timer_circle {
  stroke-dasharray: var(--circumference);
  transform: rotate(-90deg);
}

#timer_circle_boundary {
  stroke: lightblue;
}

#counter_text {
  filter: drop-shadow(2px 2px 0px rgba(255, 255, 255, 0.2));
}

.wrapper {
  display: flex;
  height: 100%;
}

.timer__wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 60vw;
  min-height: 100vh;
  margin: 0 auto;
  align-self: center;
  justify-content: center;
}

.svg__wrapper {
  position: relative;
  align-self: center;
  width: 70vh;
  width: 500px;
  max-width: 500px;
}

.todo__wrapper {
  position: relative;
  display: flex;
  min-height: 100vh;
  z-index: 10;
}

.todo_width {
  width: 40%;
}

.todo__list__wrapper {
  margin-top: 1em;
  word-break: break-all;
}

.todo__container {
  display: none;
  flex-direction: column;
  flex-grow: 1;
  padding: 2em;
  background: var(--mute-black);
  align-content: center;
  text-align: center;
}

.add__list__btn {
  width: 40px;
  height: 40px;
  padding: 0;
  margin-top: 2em;
}

.img-responsive {
  width: 100%;
  height: auto;
}

.list__item {
  position: relative;
  padding: 1em 0;
  border-top: solid 1px white;
  text-decoration-color: white;
}

.list__item:hover>button {
  display: block;
}

.list__item:last-child {
  margin-top: 1em;
  border-top: solid 1px white;
  border-bottom: solid 1px white;
}

.list__content {
  margin-right: 2em;
  line-height: 1.5em;
  /* letter-spacing: 1px; */
  color: white;
  text-align: left;
}

.list__content:focus {
  outline: none;
}

.remove__item__btn {
  width: 20px;
  padding: 0;
  position: absolute;
  top: 0.5em;
  right: 0;
  display: none;
}

.close__open__list {
  font-size: 1em;
  font-weight: bold;
  color: white;
  height: 60px;
  width: 30px;
  background: var(--mute-black);
  border-radius: 40%;
  margin-left: -10px;
  border: none;
  align-self: center;
  position: absolute;
  left: 100%;
  z-index: 100;
}

tspan {
  letter-spacing: 5px;
}

.start_stop_button {
  padding: 0;
  margin: 0 2em;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: none;
  background: none;
}

.controls {
  display: flex;
  justify-content: space-evenly;
  align-self: center;
  margin-top: 1em;
  padding: 1em;
  width: 40%;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
}

.stars * {
  filter: drop-shadow(0px 0px 10px rgba(255, 255, 255, 0.2));
}

.shadow {
  box-shadow: inset 3px 3px 0px rgba(255, 255, 255, 0.05),
    3px 3px 0px rgba(0, 0, 0, 0.1);
  transition: 0.2s;
}

.svg__shadow {
  filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.1));
}

.start_stop_button,
.button {
  cursor: pointer;
}

.pointer {
  cursor: pointer;
}

.circle__animation {
  transition: var(--circAnimDur);
  stroke-dashoffset: var(--circumference);
}

.start_button {
  background-image: url("assets/pomodoro_play.svg");
}

.timer__controls {
  display: flex;
  justify-content: space-evenly;
  width: 40%;
  margin: 2em auto;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  padding: 0 1em;
}

.timer__controls__wrapper {
  text-align: center;
  flex-grow: 1;
}

.timer__controls__wrapper:first-child {
  border-right: solid 2px #373a4a;
}

.controls__display {
  font-size: 4em;
  color: white;
}

.buttons {
  margin: 1em auto;
  padding: 0.25em;
  background: var(--mute-black);
  width: 60%;
  border-radius: 10px;
}

.reset__btn {
  border: none;
  background: none;
}

.btn {
  color: white;
  font-weight: bold;
  font-size: 1.5em;
}

.space {
  margin: 0.25em auto;
}

.left {
  left: 10vw;
}

.strike {
  text-decoration: line-through !important;
  text-decoration-color: white !important;
  opacity: 0.5;
}


@media (max-width: 1200px) {
  .controls, .timer__controls { width: 55%; }
  .controls__display { font-size: 3.5em; }
  .buttons { padding: 0em; }
}

@media (max-width: 1000px) {
  .controls, .timer__controls { width: 65%; }

  .todo__wrapper { 
    position: absolute;
  }
  .todo_width { width: 50%; }
}

@media (max-width: 830px) {
  .controls, .timer__controls { width: 75%; }
  /* .svg__wrapper { 
    width: calc(100vw - 1em);
    max-width: calc(100vw - 1em);
  } */

  .todo_width { width: 80%; }
}

@media (max-width: 730px) {
  .controls, .timer__controls { width: 90%; }
}

@media (max-width: 585px) {
  .controls, .timer__controls { width: 100%; }
  .svg__wrapper { 
    width: calc(100vw - 1em);
    max-width: calc(100vw - 1em);
  }
  .timer__wrapper {
    width: 70vw;
  }

  .todo_width { width: 90%; }
}

@media (max-width: 450px) {
  .controls { padding: 0.5em; }
  .timer__controls { width: 100%; }
  .controls__display { font-size: 3em; }
  .start_stop_button {
    width: 60px;
    height: 60px;
  }
  .buttons {
    padding: 0.25em;
  }
  .timer__wrapper {
    width: 90%;
  }
  .todo__wrapper { 
    position: absolute;
    z-index: 10;
   }
  .todo_width { width: 95%; }
  .close__open__list { display: none; }
}